header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}
.melone_logo {
    font-size: 25px;
    color: #00d344;
}
.menu i {
    font-size: 23px;
}
main {
    padding: 10px;
}
#recommend h1 {
    font-size: 25px;
    font-weight: 600;
}
#recommend ul {
    display: flex;
    margin-top: 20px;
}
#recommend ul li {
    margin-right: 10px;
}
#recommend ul li h3 {
    font-size: 15px;
    color: #00c43e;
}
.recommend_info {
    margin-top: 10px;
    width: 180px;
    height: 180px;    
    border-radius: 5px;
    padding: 7px;
}
.recommend_info.realtime {
    background-color: orange;
}
.play_logo {
    display: flex;
    justify-content: flex-end;
}
.play_logo i {
    font-size: 17px;
    color: white;
}
.recommend_info h2 {
    margin-top: 20px;
    font-size: 23px;
    font-weight: 700;
    color: white;
}
.play_info {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.play_info .info_img {
    width: 45px;
    height: 45px;
    background: url('https://cdnimg.melon.co.kr/cm2/album/images/112/17/255/11217255_20230404113821_500.jpg/melon/resize/104/quality/80/optimize') center/cover;
    border-radius: 3px;
}
.play_info .info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color: white;
}
.recommend_info.favorite {
    background-color: #55efc4;    
}
.recommend_info.favorite .play_cover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('https://cdnimg.melon.co.kr/cm2/artistcrop/images/005/49/800/549800_20230324133523_500.jpg?c81c20b00d3b47f2996ee580316888f7/melon/resize/416/quality/80/optimize') center/cover;
    margin: auto;
}
.recommend_info.favorite .play_info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
.recommend_info.favorite .play_info h5 {
    font-size: 16px;
    font-weight: 600;
}
.recommend_info.favorite .play_info p {
    font-size: 14px;
}
#events {
    margin-top: 35px;
}
#events p {
    font-size: 14px;
    opacity: 0.6;
}
.event {
    margin-top: 15px;
    width: 380px;
    height: 110px;
    background-color: #0984e3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_info .event_logo {
    width: 47px;
    padding: 3px 2px;
    border: 1px solid salmon;
    color: salmon;
    border-radius: 30px;
}
.event_text {
    line-height: 1.5;
    color: white;
}
.event_text h4 {
    font-size: 14px;
}
.event_img {
    width:33%;
}
#recent_music {
    margin-top: 35px;
}
#recent_music .title {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.title .category {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category h1 {
    font-size: 20px;
    font-weight: 600;
}
.category span.active {
    color: #00c43e;
}
.category .line {
    width: 1px;
    height: 15px;
    background-color: gray;
}
#recent_music ul {
    margin-top: 15px;
    display: flex;
    overflow: auto; 
}
#recent_music ul li {   
    border-radius: 3px;
    margin-right: 12px;       
}
#recent_music ul li .bg_img {
    padding: 10px;
    width:150px;
    height: 150px;
    background: url('https://cdnimg.melon.co.kr/cm2/album/images/112/24/180/11224180_20230414110629_500.jpg/melon/resize/360/quality/80/optimize') center/cover;
}
#recent_music ul li .bg_img.second {
    background: url('https://cdnimg.melon.co.kr/cm2/album/images/112/24/414/11224414_20230414143818_500.jpg/melon/resize/360/quality/80/optimize') center/cover;
}
#recent_music ul li .bg_img.third {
    background: url('https://cdnimg.melon.co.kr/cm2/album/images/112/24/179/11224179_20230414110424_500.jpg/melon/resize/360/quality/80/optimize') center/cover;
}

.playlist_bar {
    margin-top:35px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.3);
}
.playlist_info {
    width: 50%;
}
.playlist_info h5 {
    font-weight: 600;
}
.playlist_info p {
    font-size: 14px;
    opacity: 0.5;
    line-height: 1.5;
}
.playlist_btn {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
nav {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 25px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav .home {
    color:#00c43e;
}
@keyframes splashAni {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#splash_screen {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top:0;
    animation: splashAni 0.3s forwards;
    animation-delay: 1.5s;
}
#splash_screen .melone_logo {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}